<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Release Notes</ion-title>
    <ion-buttons slot="end">
      <ion-button  routerLink="/home">
        <ion-icon name="home" slot="end"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >


  <!-- <ion-text style='text-align:center; ' >
    <ion-img style='text-align:center ; 'alt="About iRAD" src="assets/logos/irad_about.jpg"></ion-img>
  </ion-text> -->

  


   
   <!-- <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Madison, WI</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content> -->

  

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Release Notes</ion-card-subtitle>
        <ion-card-title>iRAD 2.0.8</ion-card-title>
        <ion-card-subtitle>Dec 2021</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
<p style="white-space:pre-wrap;">
1. Location - User select location across the state warning message will be shown with the Distance
2. Media page updated - Gallery option and size restriction for both Images and Video
3. Reports Updated with additional reports
4. Vehicle page upated with new fields
5. Transport updated with new fields
6. Highways updated with new fields
7. Notification - FO submits to SHO notification will be sent to Station Admin
8. PDF - MVI Request updated
</p> 
<p style="white-space:pre-wrap;">
and <br>
The latest version contains bug fixes and performance improvements.
</p> 
      </ion-card-content>
    </ion-card>

</ion-content>
